body {
    margin: 0;
    font-family: sans-serif;
}

.menu_bar {
    background-color: #141d28;
    padding: 5px 25px;
}

.logo {
    color: #e9e9e9;
    font-size: 25px;
    margin-left: 30px;
}

.logo span {
    color: #0073ff;
}

.page {
    margin: 25px;
    margin-top: 80px;
}

.box {
    width: 100%;
    animation: entrance_anim 1.6s ease 0s 1 normal forwards;
}

@keyframes entrance_anim {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}

.container {
    background: linear-gradient(to bottom left, #ffe4e6, #ccfbf1);
    border: 1px solid rgba(239, 255, 255, 0.849);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 10px;
    text-shadow: 1px 1px rgb(153, 153, 153);
    margin: 30px 20px;
    margin-left: auto;
    margin-right: auto;
}

.container:hover {
    background: linear-gradient(to top right, #22c55e, #0e7490, #3b82f6);
    border: 1px solid rgb(48, 48, 48);
    transform: scale(1.05);
    transition: 0.6s;
}

.container:hover h3 {
    color: white;
}

.container a {
    text-decoration: none;
}

.container h3 {
    color: #ff0505;
    text-align: center;
}

@media screen and (min-width: 900px) {
    .box {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    .container {
        width: 20%;
        margin: 0;
    }
}