<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Tournament Rules</title>
</head>
<body>
    <div class="menu_bar">
    <h1 class="logo"><a href="http://127.0.0.1:5000/" style="text-decoration: none;color: #e9e9e9;">TEAM<span> ESPADA</span></a></h1>
    </div>
    <div class="rules-main">
        <div>
        <h1>
            RULES AND REGULATIONS
        </h1>
        </div>
        <hr>
        <div>
        <h2 style="color: #ff5f00;text-shadow: 1px 1px #77340dcc;">
            BATTLE ROYALE
        </h2>
        </div>
        <ul>
            <li>No one must use hack, panel or script during the tournament. If anyone uses it, him / his team will be disqualified.</li>
            <li>If any player of a team goes offline during the match, no excuse will be given and the team has to play 3 vs 4 only.</li>
            <li>For squad only 4 members per team are allowed and for duo only 2 members per team are allowed. No substitute players are allowed.</li>
            <li>Gun Attributes are turned to be off. Character Skills are allowed.</li>
            <li>Three rounds will be conducted which contains three different maps: Bermuda, Purgatory and Kalahari.</li>
            <li>Players must download all the three maps before the tournament starts.</li>
            <div class="ptstbl" style="margin: 20px 0;">
                <table style="width: 65%;">
                    <tr><th colspan="8">POINTS TABLE</th></tr>
                    <tr><th colspan="2">SOLO</th><th colspan="2">DUO</th><th colspan="2">SQUAD</th></tr>
                    <tr><td>PER KILL</td><td>1</td><td>PER KILL</td><td>1</td><td>PER KILL</td><td>1</td></tr>
                </table>
            </div>
        </ul>
        <br>
        <hr>
        <div>
            <h2 style="color: #ff5f00;text-shadow: 1px 1px #77340dcc;">CLASH SQUAD</h2>
        </div>
        <ul>
            <li>No one must use hack, panel or script during the tournament. If anyone uses it, him / his team will be disqualified.</li>
            <li>If any player of a team goes offline during the match, no excuse will be given and the team has to play 3 vs 4 only.</li>
            <li>Gun Attributes are turned to be off. Character Skills are allowed.</li>
            <li>Ammo limit will be turned on. i.e. no unlimited ammo.</li>
            <li>Each match will contain 7 rounds.</li>
            <li>Each team will fight with other teams twice (Similar to IPL).</li>
        </ul>
    </div>
</body>
</html>